/* Reset */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt,
em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu,
nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike,
strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u,
ul, var, video {
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

body, h1, h2, h3, h4, h5, h6 {
  line-height: 1.4em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

* {
  box-sizing: border-box;
  -webkit-user-select: text;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
}

/*********** header styles ***********/

#header {
  position: fixed;
  left: 0;
  right: 0;
  height: 115px;
  padding: 28px 0;
  background: #fff;
  box-shadow: 0 4px 0 rgba(0, 0, 0, .08);
  z-index: 1000;
}

#header h1 {
  float: left;
  width: 70px;
  height: 0;
  overflow: hidden;
  padding-top: 59px;
  background: url("../images/hrc-logo.png");
  background-size: 70px;
  margin-right: 26px;
}

.wrapper {
  width: 624px;
  margin: 0 auto;
}

input {
  height: 44px;
  width: 100%;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0 9px;
}

input:focus {
  border-color: #12a8e0;
  outline: 0;
}

button {
  padding: 0 18px;
  color: #fff;
  height: 44px;
  background: #12a8e0;
  border-radius: 5px;
  border: 0;
  margin-left: 8px;
  cursor: pointer;
}

.search-table {
  display: table;
  padding-top: 9px;
}

.search-table-item {
  position: relative;
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle
}

.search-table-item-primary {
  width: 99%;
}

/*********** text group styles ***********/

#events {
  width: 35%;
  padding-top: 115px;
}

#events .state {
  display: none;
  padding: 20px;
}
#events.start .start-wrapper,
#events.event .event-wrapper,
#events.error .error-wrapper,
#events.search-error .search-error-wrapper {
  display: block;
}

/*********** map styles ***********/

#map {
  position: fixed;
  top: 115px;
  bottom: 0;
  right: 0;
  left: 35%;
}

/*#map, #events{
  width: 50%;
  height: 100%;
}*/
/*#map {
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid #ccc;
}*/
#map-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: whitesmoke;
  padding: 5px 10px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  line-height: 2em;
}
#map-search input {
  font-size: 20px;
  margin: 0 7px 0px 0;
  height: 15px;
}
.disabled {
  opacity: .5;
  pointer-events: none;
}

.leaflet-popup-content p {
  margin: 10px 0;
}
.leaflet-popup-content .fa-map-marker,
.leaflet-popup-content .fa-calendar-o {
  margin-right: 7px;
  width: 10px;
  text-align: center;
}
.leaflet-popup-content .rsvp {
  text-align: center;
  height: 20px;
  width: 100%;
  margin-top: 15px;
}
.leaflet-popup-content .rsvp a {
  font-weight: bold;
  float: none !important;
}

/*********** searchbox styles ***********/

#searchbox {
  background: whitesmoke;
  padding: 20px;
  margin: 20px;
}
#searchbox .search-row {
  margin-bottom: 20px;
}
#searchbox .search-row:last-child {
  margin-bottom: 0;
}
#searchbox input[type="text"] {
  width: 365px;
  font-size: 16px;
  padding: 5px 22px 4px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#searchbox .fa-times {
  display: none;
  font-style: normal;
  position: absolute;
  margin: 7px 0 0 -24px;
  color: #808080;
  cursor: pointer;
}
#searchbox .fa-times:hover {
  color: #000;
}
#searchbox button {
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
  padding: 6px 10px 5px;
  color: #808080;
  font-weight: 100;
  margin-left: -6px;
}
#searchbox button:hover {
  border-color: #000;
  color: #000;
}
#searchbox select {
  font-size: 18px;
}
#searchbox label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/*********** autocomplete dropdown styles ***********/

.autocomplete {
  position: absolute;
  width: 100%;
  background: #fff;
}

.suggestion {
  border: 2px solid #ddd;
  border-bottom: 0;
  padding: 2px 0 2px 10px;
  color: #808080;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.suggestion:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid #ddd;
}

.suggestion.selected {
  color: #000;
  background: #ddd;
}

.suggestion:hover {
  color: #000;
  background: #eee;
}

/*********** event search results styles ***********/

.list-event {
  padding: 10px 20px;
  margin-bottom: 10px;
}
.list-event:nth-child(odd) {
  background: whitesmoke;
}
.list-event .rsvp,
.leaflet-popup-content .rsvp a {
  float: right;
  color: rgb(192,23,38);
  border: 1px solid rgb(192,23,38);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  padding: 2px 10px;
  background: rgba(192,23,38,.1);
}
.list-event .rsvp:hover,
.leaflet-popup-content .rsvp a:hover {
  background: rgba(192,23,38,.2);
}
.list-event .location {
  font-style: italic;
}
.list-event .location .fa-map-marker,
.list-event .time .fa-calendar-o {
  margin-right: 10px;
  float: left;
  width: 15px;
  text-align: center;
}
.list-event .description {
  font-size: 14px;
  color: #555;
}
